/* Reset Css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear{
    clear: both;
}
/* .row::after{
    content: '';
    clear: both;
} */

html{
    font-family: 
    Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    -webkit-appearance: none;
}
.text-white{
color: white !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-haft{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: calc(100% / 3);
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.text-center{
    text-align: center !important;
}

#header{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 45px;
background-color: black;  
z-index: 1;
}
#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}

#nav  li {
    position: relative;
}

#nav > li > a
{
    color: #ffffff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 45px;
    padding: 0 24px ;
    display: inline-block;
    width: 100%;    
}
.nav-arrow-down{
    font-size: 12px;
}
#nav  li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
color: black;
background-color: #cccccc;
}
#nav .subnav{
    top: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav a {
    color: black;
    /* padding: 0 16px; */
    line-height: 38px;
}
#nav > li:first-child{
    display: inline-block;
}

   /*----------Begin search: button ------*/
   .mobile-menu-btn{
       position: absolute;
       top: 0;
       right: 0;
       display: none;
   }
.mobile-menu-btn,
.search-btn{
float: right;
padding: 0 21px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover{
    background-color: #cccccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000000;
}

#header .menu-icon,
#header .search-icon{
    color: #ffffff;
    font-size: 20px;
    line-height: 46px;
}

 /*---------- end search: button ------*/


 /* ------------ begin slider --------- */
#slider{
position: relative;
margin-top: 45px;
padding-top: 50%;
background: url(../img/slider1.jpg) top center / cover no-repeat;

}
#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: white;
    width: 100%;
    text-align: center;

}
 
#slider .text-heading{
font-weight: 500;
font-size: 24px;
}
 
#slider .text-description{
text-shadow: 0 0 1px #000;
font-size: 15px;
margin-top: 25px;
}

 /* ------------ end slider ---------*/

/*--------- content section -----------*/
#content .content-section{
 padding: 64px 0 112px;
 width: 800px;
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
 padding-left: 16px;
 padding-right: 16px;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .subheading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
  .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.8;
}
 #content .member-list{
margin-top: 48px;

}
#content .member-item{
    text-align: center;
}
#content .member-name{
font-size: 15px;
}
#content .avatar{
margin-top: 15px;
width: 154px;
border-radius: 4px;
}
/*---------end content section -----------*/

        /*------- tour section-------- */
#content .tour-section{
background-color: black;
}
.tickit-list{
    background-color: #ffffff;
    margin-top: 40px;
}
.tickit-list li{
    font-size: 15px;
    padding: 11px 16px; 
    border-bottom: 1px solid #d1c7c7;
    color: #757575;
    list-style-type: none;
}
.tickit-list .sold-out{
    color: #ffffff;
background-color: #f44336;
margin-left: 16px;
}
.tickit-list .quantity{
float: right;
width: 24px;
height: 24px;
color: #ffffff; 
background-color: black;
border-radius: 50%;
text-align: center; 
line-height: 24px;
margin-top: -3px;
}

.place-list{
    margin-top: 32px;
    
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
 
.place-body{
    background-color: #ffffff;
    padding: 16px;
    font-size: 15px;
    
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
    line-height: 1.8;
}
.place-description{
    margin-top: 15px;   
}
.btn{
    color: #ffffff;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    -webkit-appearance: none;
}
.btn:hover{
    color: black;
    background-color: #cccccc;
    cursor: pointer;
}
/* -------- contact-form -------*/
.contact-content{
margin-top: 46px;
}   
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}    
.contact-info i[class*="ti-"]{
    width: 30px;
    display:    inline-block;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-info a{
    color: #0404ea;
    opacity: 0.8;
}

.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    -webkit-appearance: none;
    padding: 10px;
    border: 1px solid #cccccc;
    width: 100%;
}

.form-submit{
    padding: 8px 16px;
    margin-top: 16px;
    float: right;
    border: none;
}


    /*-------end tour section-------- */
.map-img img{
    width: 100%;
    margin-top: 112px;
}
/* begin footer */

#footer{
padding: 64px 16px;
text-align: center;
}
#footer .social-list a{
text-decoration: none;
color: rgba(0, 0, 0, 0.6);
font-size: 24px;
}
#footer .end a,
#footer .social-list a :hover{
    color: rgba(0, 0, 0, 0.4); 
}
#footer .end{
   margin-top: 15px; 
   color: rgba(0, 0, 0, 0.6);
}
#footer .end a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}